.categoryContainer {
   padding-top: 30px;
   font-family: 'Asap', sans-serif;
   font-size: 35px;
}

#line {
   width: 25px;
   display: inline-flex;
   border-top: 2px solid;
   vertical-align: middle;
   margin-left: 15px;
   margin-right: 15px;
}