@import url('https://fonts.googleapis.com/css?family=Asap');
@import url('https://fonts.googleapis.com/css?family=Lobster');

.headerContainer {
   width: 100vw;
   height: 75px;
   position: static;
   z-index: 1;
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-family: 'Asap', sans-serif;
}

#name {
   font-size: 1.8em;
   display: flex;
}

#links {
   width: 250px;
   display: flex;
   justify-content: space-around;
}

p {
   padding: 0px 0px 0px 25px !important;
   margin: 0px !important;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

a {
   text-decoration: none;
   color: #000;
}

#letterCircle {
   border-radius: 50%;
   background-color: #282B34;
   width: 50px;
   height: 50px;
   font-family: 'Lobster', cursive;
   color: #E8A24E;
   padding: 11px 11px;
   font-size: 45px;
}